@import "./color";
@import "./spacing";
@import "./typography";
@import "./variable";

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-frame{
    margin-top: 12px;
    height: 50px;
    width: 970px;
    background-color: $colorBackground;
    text-align: center;
    margin-bottom: 28px;
    border: 1px $colorBorder solid;
    margin-left: 16%;
    color: #5A5A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billboard{
    height: 250px;
    width: 970px;
    background-color: $colorBackground;
    text-align: center;
    border: 1px $colorBorder solid;
    margin-left: 16%;
    margin-bottom: 60px;
    color: #5A5A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campaign{
    height: 250px;
    width: 970px;
    background-color: $colorBackground;
    text-align: center;
    border: 1px $colorBorder solid;
    margin-left: 16%;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #5A5A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr{
    height: 250px;
    width: 300px;
    background-color: $colorBackground;
    text-align: center;
    margin-bottom: 28px;
    border: 1px $colorBorder solid;
    margin-left: 10%;
    color: #5A5A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__primary{
    height: 0;
    font-size: 18px !important;
    border-radius: 5px !important;
    padding: 22px !important;
    text-transform: none !important;
    position: relative !important;
    transform: translateY(25%);
    background-color: $colorPrimary !important;
    color: $colorWhite !important;
    border: 1px solid $colorPrimary !important;
}

.box__text{
    font-size: 20px;
    margin: 60px 0px 32px 55px;
}

.list__product{
    border: 2px #EFEFEF solid;
    border-radius: 10px;
    margin-top: -14px;
}

.list__matches{
    border: 1px #ffffff solid;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%;
    background-color: #ffffff;
    margin-left: 35px;
}

.list__review{
    border: 2px #EFEFEF solid;
    width: 80%;
    border-radius: 7px;
    padding: 5%;
}

.image__editor{
    position: relative;
}

.list__editor{
    margin-right: 34px !important;
}

.image__article{
    width: 350px;
    border-radius: 10px;
}

.image__group{
    width: 190px;
    height: 190px;
}

.image__group--button{
    width: 40px;
}

.image__preview{
    margin-top: -25px;
    margin-bottom: 10px;
}

.list__group{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 6px #bcbcbc;
    width: 85%
}

.description__group{
    font-size: 14px;
    text-align: center;
    height: 80px;
    padding: 20px;
}

.navbar{
    background-color: #FFFFFF !important;
    color: #252525 !important;
    // position: fixed !important;
    z-index: 1;
    left: 0;
    top: 0;
    box-shadow: none !important;
}

.navbar__search{
    border: 2px #EFEFEF solid;
    border-radius: 7px;
    width: 103ch;
}

.navbar__button{
    color: $colorWhite !important;
    background-color: $colorPrimary !important;
    border-radius: 0px !important;
    height: 64px;
    width: 220px;
}

.navbar__menu{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #EFEFEF solid;
    border-top: 2px #EFEFEF solid;
    margin-top: -2px;
    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin-right: 40px;
            cursor: pointer;
            font-size: 14px;
            padding-top: 16px;
            padding-bottom: 16px;
            font-weight: bold;
            &:hover{
                color: $colorPrimary
            }
        }
    }
}

.border__top{
    border-top: 2px #EFEFEF solid;
}

.text__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-1kcggdq-MuiInputBase-root .MuiInputBase-input{
    width: 40ch !important;
}

.css-1t29gy6-MuiToolbar-root{
    padding-right: 0px !important;
}

.css-ryrseu-MuiRating-root{
    font-size: 1.3rem !important;
}